.send-btn {
    background: #D9D9D9 !important;
    border-radius: 50%;
  }
  
  ::ng-deep .send-btn ion-icon {
    color: #84A98C !important;
  }
  
.chat-content {
  --padding-bottom: 70px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.user-bubble,
.bot-bubble {
  max-width: 80%;
  margin: 8px;
  padding: 5px 20px;
  word-wrap: break-word;
}

.bot-bubble {
  align-self: flex-start;
  background-color: #1B4965;
  color: white;
  border-radius: 30px 30px 30px 30px;
}

.user-bubble {
  align-self: flex-end;
  background-color: #EDEDE9;
  color: #1B4965;
  border-radius: 30px 30px 30px 30px;
}

.chat-footer {
  --background: #D9D9D9;
  padding: 10px;
  border: none !important;
  box-shadow: none !important;
  background: #D9D9D9;
}

.chat-input {
  flex: 1;
  --padding-start: 20px;
  --padding-end: 12px;
  background: #EDEDE9;
  border-radius: 16px;
  margin-right: 10px;
  padding: 0 12px;
  height: 40px;
  border: none !important;
  box-shadow: none !important;
}

.send-btn {
  background: white !important;
  border-radius: 50%;
}

::ng-deep .send-btn ion-icon {
  color: #84A98C !important;
}

ion-footer {
  border: none !important;
  box-shadow: none !important;
  --background: #D9D9D9 !important;
}
  
// The profile picture icon on the chat page
.profile-picture-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  border-radius: 50%;
  background-color: #84A98C;
  padding: 4px 10px;
  font-weight: bold;
  color: white;
  z-index: 999;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-row {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin: 10px;
}

.message-row.assistant {
  flex-direction: row;
}

.message-row.user {
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.bubble-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.bubble-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
