.meditation-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
  }
  
  .meditation-btn {
    --background: #7D9979;
    --background-activated: #6c8b6a;
    --color: white;
    font-weight: 500;
    text-transform: none;
    border-radius: 10px;
    width: 90%;
    max-width: 320px;
  }
  
  .homepage-image {
    margin-top: 20px;
    width: 90%;
    max-width: 320px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  