<ion-header class="help-header">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background" fullscreen>

  <div class="page-top-container">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <img src="assets/images/Home.png" alt="Home Icon" class="home-icon" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-chip class="profile-icon">
        <ion-label>GH</ion-label>
      </ion-chip>
    </ion-buttons>
  </div>

  <div class="app-branding">
    <img src="assets/images/Logo.png" alt="MindMate Logo" class="app-logo" />
    <h2 class="app-title">MindMate</h2>
  </div>
  
  <img [src]="selectedImage" alt="Selected Image" class="homepage-image" />

  <div class="meditation-buttons">
    <ion-button class="meditation-btn" expand="block">Begin Guided Meditation</ion-button>
    <ion-button class="meditation-btn" expand="block">Begin Breathing Exercises</ion-button>
    <ion-button class="meditation-btn" expand="block">Play Relaxing Music</ion-button>
  </div>

</ion-content>