<ion-header class="help-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <img src="assets/images/Home.png" alt="Home Icon" class="home-icon" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-chip *ngIf="!isGuest" class="profile-icon" (click)="openUserMenu($event)">
        <ion-label>{{ userInitials || 'NA' }}</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background" fullscreen>
  <div class="app-branding">
    <img src="assets/images/Logo.png" alt="MindMate Logo" class="app-logo" />
    <h2 class="app-title">MindMate</h2>
  </div>

  <img [src]="selectedImage" alt="Selected Image" class="homepage-image" />

  <div class="meditation-buttons">
    <ion-button class="meditation-btn" expand="block" (click)="startGuidedMeditation()">
      <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
      Begin Guided Meditation
    </ion-button>

    <ion-button class="meditation-btn" expand="block" (click)="openBreathingExercises()">
      <ion-icon name="fitness-outline" slot="start"></ion-icon>
      Begin Breathing Exercises
    </ion-button>

    <ion-button class="meditation-btn" expand="block" (click)="playRelaxingMusic()">
      <ion-icon name="headset-outline" slot="start"></ion-icon>
      Play Relaxing Music
    </ion-button>
  </div>
</ion-content>