  <ion-header class="help-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/home">
          <img src="assets/images/Home.png" alt="Home Icon" class="home-icon" />
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-chip *ngIf="!isGuest" class="profile-icon" (click)="openUserMenu($event)">
          <ion-label>{{ userInitials || 'NA' }}</ion-label>
        </ion-chip>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="gray-background" fullscreen>

    <div class="app-branding">
      <img src="assets/images/Logo.png" alt="MindMate Logo" class="app-logo" />
      <h2 class="app-title">MindMate</h2>
    </div>

    <div class="help-numbers-container">
      <ion-card class="help-card">
        <ion-card-content class="help-card-content">
          <span>Aware</span>
          <span>1800804848</span>
          <ion-button fill="clear" size="small" href="tel:1800804848">
            <ion-icon name="call-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="help-card">
        <ion-card-content class="help-card-content">
          <span>Samaritans</span>
          <span>116123</span>
          <ion-button fill="clear" size="small" href="tel:116123">
            <ion-icon name="call-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="help-card">
        <ion-card-content class="help-card-content">
          <span>Pieta House</span>
          <span>1800247247</span>
          <ion-button fill="clear" size="small" href="tel:1800247247">
            <ion-icon name="call-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card> 

    </div>

</ion-content>
