
.help-numbers-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 20px;
    margin-top: 20px;
  }
  
  .help-card {
    background-color: #EDEDE9;
    border-radius: 12px;
  }
  
  .help-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #1B4965;
  }
  
  //phone symbol
  .help-card-content ion-icon {
    color: black !important;
    font-size: 30px;
  }
  
  .help-numbers-container {
    padding-top: 80px; 
  }