<ion-header class="choose-picture-header">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background" fullscreen>
  
  <div class="page-top-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </div>

  <div class="app-branding">
    <img src="assets/images/Logo.png" alt="MindMate Logo" class="app-logo" />
    <h2 class="app-title">MindMate</h2>
  </div>
  
  <p style="text-align:center;">Choose picture to display:</p>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let img of images" class="picture-col">
        <img
          [src]="img"
          (click)="selectImage(img)"
          [class.selected]="img === selectedImage"
          class="grid-picture"
          alt="Image"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="button-center">
    <ion-button class="confirm-picture-btn" (click)="confirmSelection()">Confirm</ion-button>
  </div>
  
</ion-content>