/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

// This is the background colour for most of the pages
.gray-background {
  --background: #D9D9D9;
  background-color: #D9D9D9;
}

//Padding at top and bottom of the page
ion-content {
  padding-top: env(safe-area-inset-top);
  padding-bottom: 20px;
  position: relative;
}

.app-branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 30px;
}

.app-logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.app-title {
  margin: 0;
  font-weight: 600;
  font-size: 35px;
  color: #2C3E50;
}

// Container layout
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

// Picture for the homepage
.homepage-image {
  margin-top: 40px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

// Grid to hold the nav buttons - top margin
.nav-grid {
  margin-top: 1px;
}

.nav-grid ion-row {
  display: flex !important;
  flex-direction: row !important; // Force a horizontal layout
  flex-wrap: nowrap !important;
}

.nav-grid ion-col {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

// Home icon styling
.home-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 25px;
}

// Profile icon styling
.profile-icon {
  background-color: #84A98C;
  font-weight: 600;
  border-radius: 25px;
  padding: 0 12px;
  height: 45px;
}

// Back button styling
ion-back-button {
  color: black;
  --color: black;
}

.page-wrapper {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

