#container {
  text-align: center;
  padding: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.home-container {
  padding-top: 80px; 
}

// This is the Chat button on the home page
.begin-chat-btn {
  --background: #84A98C !important;
  color: white !important;
  border-radius: 10px;
  padding: 40px 10px;
  font-size: 18px;
  text-align: center;
  text-transform: none;
  font-weight: 500;
  width: 90%;
  max-width: 320px;
}

// This is the nav buttons on the home page
.nav-btn {
  color: black;
  text-transform: none;
  font-size: 14px;
  padding: 0;
}

.nav-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
}

.nav-image {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 50px;
}

.homepage-profile-icon {
  background-color: #84A98C;
  font-weight: 600;
  border-radius: 25px;
  padding: 0 12px;
  height: 45px;
  position: absolute;
  top: 60px;
  right: 16px;
  display: flex;
}

.app-branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 30px;
  margin-top: 40px; 
}

.back-to-login-btn {
  position: absolute;
  top: 20px;
  left: 16px;
  z-index: 10;
  color: #2C3E50;
  font-weight: 500;
  font-size: 26px;  
}
